*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Makefile
*.so
*.o
Gemfile.lock
RUBYARCHDIR.time

# YARD artifacts
.yardoc
_yardoc
doc/
/mkmf.log
